<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Material Design -->
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i&display=swap" rel="stylesheet">

    <!-- Leaflet CSS File -->
    <link rel="stylesheet" type="text/css" href="/leaflet/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/f481d02160.js" crossorigin="anonymous"></script>

    <script
    src="http://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>


    <!-- Leaflet JS File -->
    <script type="text/javascript" src="/leaflet/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>


    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
    <nav>
      <div>
        <button id="new-map" type="button">+</button>
      </div>
      <div>
      <button class="login-register" type="button">login / register</button>
      <button id="user-menu-btn" type="button">
        <i id="profile-pic" class="fas fa-user-circle"></i>
      </button>
      <div id="user-menu">
        <button id="logout" type="button">logout</button>
      </div>
      <div id="login">
      <form action="/login" method="POST" id="login-form">
        <input type="email" name="email" id="login-email" placeholder="email">
        <input type="password" id="login-password" name="password" placeholder="password">
        <button type="submit" class="login">login</button>
      </form>
        <button type="button" id="register" class="register">create account</button>
      </div>
      <div id="registerform">
          <form action="/register" method="POST" id="register-form">
            <input type="email" name="email" id="register-email" placeholder="email">
            <input type="password" id="register-password" name="password" placeholder="password">
            <button type="submit" class="register">register</button>
          </form>
      </div>
      </div>
    </nav>

    <header id="create-map">
      <div>
        <p id="add-map">create a new map.</p>
        <form id="create-new-map" action="/:id/maps/create" method="POST"></form>
          <textarea name="map-name" id="map-name" placeholder="map name" value="map-name"></textarea>
          <textarea name="map-description" id="map-description" value="description" placeholder="description"></textarea>
          <div id="save-cancel">
            <button class="save" type="button" action="submit">save</button>
          </form>
            <button class="cancel" type="button" action="submit">cancel</button>
          </div>
      </div>
    </header>

    <button class="mdc-fab" aria-label="Favorite">
        <span class="mdc-fab__icon material-icons">menu</span>
      </button>

    <header id="view-maps">
      <div>
        <button name="back" type="button" id="back">←</button>
      </div>
    </header>

    <main class="map">
      <div id="mapid"></div>
    </main>
  </body>
</html>
