<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Material Design -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

    <!-- Leaflet CSS File -->
    <link rel="stylesheet" type="text/css" href="/leaflet/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    <script
    src="http://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>


    <!-- Leaflet JS File -->
    <script type="text/javascript" src="/leaflet/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>


    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
    <nav>
      <div>
        <button id="new-map" type="button">+</button>
      </div>
      <div>
      <button class="login-register" type="button">login / register</button>
      <form action="/login" method="POST" id="login">
        <textarea name="username" id="username" placeholder="username"></textarea>
        <textarea name="password" id="password" placeholder="password"></textarea>
        <button type="button" method="POST" class="login">login</button>
        <button type="button" method="POST" class="register">create account</button>
        </form>
      </div>
    </nav>

    <header id="create-map">
      <div>
          <textarea name="map-name" id="map-name" placeholder="map name"></textarea>
      </div>
    </header>

    <header id="map-creator">
      <div>
      </div>
    </header>

    <main class="map">
      <div id="mapid"></div>
    </main>
  </body>
</html>
