// See: https://sass-lang.com/

body {
  background-color: #EEE;

  nav {
    background-color: #0E00FF;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;

    .new-map button{
      background-color: transparent;
      border: none;
      color:  #EEE;
      height: 40px;
      width: 50px;
      font-size: 40px;
    }

    .new-map:hover {
      transition: 0.30s;
      transform: rotate(90deg);
    }

    .login-register {
      height: 7vh;
      border: none;
      width: 15vw;
      margin-right: 1vw;
      color:  #F2FF03;
      font-family: 'Roboto', sans-serif;
      font-size: 2vw;
      background-color: transparent;
    }

    .login-register:hover {
      color: #EEE
    }
  }

  .create-map{
    background-color: #F2FF03;
    size: 30vw;
  }
  form {
    width: 17vw;
    background-color: lightgray;
    height: 30vh;
    margin-right: 1vw;

    textarea {
      resize: none;
      border-bottom: solid;
      border-top: none;
      border-left: none;
      border-right: none;
      background-color: transparent;
      margin-left: 1vw;
      margin-top: 2vh;
      margin-bottom: 2vh;
      height: 30px;
    }

    .register {
      font-size: 1.5vw;
      color: black;
      font-family: 'Roboto', sans-serif;
      border: none;
      background-color: transparent;
      margin-left: 3vw;
    }
  }
  form.toggled {

  }
}
