// See: https://sass-lang.com/



body {
  background-color: #EEE;
  overflow: hidden;

  nav {
    z-index: 1000;
    background-color: #0E00FF;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;

    #new-map{
      padding: none;
      margin-left: 1.6vw;
      margin-top: -2px;
      position: absolute;
      background-color: transparent;
      border: none;
      color:  #EEE;
      height: 40px;
      width: 40px;
      font-size: 40px;
      outline: none;
      transition: 0.30s;
      cursor: pointer;
    }

    #new-map.open{
      font-size: 43px;
      transition: 0.30s;
      transform: rotate(45deg);
      margin-left: 2vw;
    }

    .login-register {
      height: 7vh;
      border: none;
      width: 15vw;
      margin-right: -2vw;
      color:  #F2FF03;
      font-family: 'Muli', sans-serif;
      font-size: 2vw;
      background-color: transparent;
      outline: none;
    }

    .login-register:hover {
      color: #EEE;
      cursor: pointer;
    }

    .login-register:active {
      transform: scale(0.95);
    }
  }

  .create-map{
    background-color: #F2FF03;
    size: 30vw;
  }

  #login.toggled {
    height: 30vh;
    box-shadow: -9px 14px 15px 0px rgba(0,0,0,0.75);
    transition: 0.5s;
  }

  #login {
    z-index: 1000;
    width: 17vw;
    background-color: black;
    height: 0;
    margin-right: 2vw;
    overflow-x: hidden;
    transition: 0.5s;

    textarea {
      width: 83%;
      resize: none;
      border-bottom: solid;
      border-top: none;
      border-left: none;
      border-right: none;
      background-color: transparent;
      margin-left: 1vw;
      margin-top: 2vh;
      margin-bottom: 2vh;
      height: 30px;
      color: white;
      outline: none;
      font-family: 'Muli', sans-serif;
    }

    textarea:focus::placeholder{
      visibility: hidden;
    }

    .login{
      width: 100%;
      font-size: 1.5vw;
      color: white;
      font-family: 'Muli', sans-serif;
      border: none;
      background-color: transparent;
      margin-bottom: 5px;
      outline: none;
    }

    .login:hover {
      cursor: pointer;
      color: lightgray;
    }

    .login:active {
      transform: scale(0.95);
    }

    .register {
      font-size: 1.5vw;
      color: white;
      font-family: 'Muli', sans-serif;
      border: none;
      background-color: transparent;
      width: 100%;
      margin-top: 2vh;
      outline: none;
    }

    .register:active {
      transform: scale(0.95);
    }

    .register:hover {
      cursor:pointer;
      color: lightgrey;
    }
  }

  #mapid {
    z-index: 0;
    margin-left: -1.5vw;
    margin-top: 4vh;
    height: 96.5vh;
    width: 100vw;

    .leaflet-control-zoom {
    left: 96vw;
    margin-top: 83vh;
    transition: 0.5s;
    }
  }

  #mapid.open {
    .leaflet-control-zoom {
      left: 56vw;
      margin-top: 83vh;
      transition: 0.5s;
    }
  }

  #create-map{
    position: absolute;
    display: flex;
    height: 0%;
    width: 40vw;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
  }

  #create-map.open{
    height: 100%;
    box-shadow: 9px 14px 15px 0px rgba(0,0,0,0.75);
  }

  #map-creator{
    visibility: hidden;
  }

  main{
    transition: margin-left .5s;
    padding: 20px;
  }

  main.open{
    transition: margin-left .5s;
    margin-left: 40vw;
  }



  #map-name {
    margin-top: 5vh;
    margin-left: 1vw;
    width: 37vw;
    background-color: white;
    border: solid, black, 3px;
    border-right: none;
    border-left: none;
    resize: none;
    font-family: 'Muli', sans-serif;
    color: black;
    font-size: 7vh;
    height: 8vh;
    outline: none;
    line-height: 7vh;
  }

  #map-name::placeholder{
    opacity: 1;
  }

  #map-name:focus::placeholder{
    visibility: hidden;
  }

  #map-description {
    margin-top: 7vh;
    margin-left: 1vw;
    width: 37vw;
    background-color: white;
    border: solid, black, 3px;
    border-right: none;
    border-left: none;
    resize: none;
    font-family: 'Muli', sans-serif;
    color: black;
    font-size: 7vh;
    height: 25vh;
    outline: none;
    line-height: 8vh;
    overflow: hidden;
  }

  #map-description::placeholder{
    opacity: 1;
  }

  #map-description:focus::placeholder{
    visibility: hidden;
  }

  #save-cancel {
    display: flex;
    justify-content: space-between;
    }

  .save {
    border: solid, 3px;
    border-color: black;
    background-color: white;
    color: black;
    font-family: 'Muli', sans-serif;
    margin-top: 7vh;
    margin-left: 1vw;
    font-size: 7vh;
    outline: none;
    height: 7vh;
    cursor: pointer;
    transition: 0.2s;
    line-height: 7vh;
  }

  .save:active {
    transform: scale(0.95);
  }

  .cancel {
    border: solid, 3px;
    border-color: black;
    background-color: white;
    color: black;
    font-family: 'Muli', sans-serif;
    margin-top: 7vh;
    font-size: 7vh;
    height: 7vh;
    margin-right: 2vw;
    cursor: pointer;
    transition: 0.2s;
    outline: none;
    line-height: 7vh;
  }

  .cancel:active {
    transform: scale(0.95);
  }

  #add-map{
    margin-top: 17vh;
    font-family: 'Muli', sans-serif;
    height: 7vh;
    font-size: 7vh;
    margin-left: 1vw;
    font-weight: bold;
    line-height: 8vh;
  }

  .mdc-fab {
    background-color: #0E00FF;
    z-index: 1;
    position: absolute;
    margin-top: 10vh;
    margin-left: 1vw;
  }

  #view-maps {
    overflow-x: hidden;
    display: flex;
    background-color: black;
    display: flex;
    height: 100%;
    width: 0;
    position: fixed;
    transition: 0.5s;
    z-index: 3;
  }

  #view-maps.toggled {
    width: 40vw;
    transition: 0.5s;
  }

  #back {
    margin-left: 1vw;
    margin-top: 10vh;
    font-size: 5vh;
    background: transparent;
    border: none;
    color: #EEE;
    cursor: pointer;
    outline: none;
  }

  #back:active {
    transform: scale(0.95);
  }
}
