// See: https://sass-lang.com/

body {
  background-color: #EEE;

  nav {
    z-index: 1000;
    background-color: #0E00FF;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;

    #new-map button{
      background-color: transparent;
      border: none;
      color:  #EEE;
      height: 40px;
      width: 60px;
      font-size: 40px;
    }

    #new-map.open{
      transition: 0.30s;
      transform: rotate(45deg);
    }

    #new-map.open:hover{
      transform: rotate(45deg);
    }

    #new-map:hover {
      transition: 0.30s;
      transform: rotate(90deg);
    }

    .login-register {
      height: 7vh;
      border: none;
      width: 15vw;
      margin-right: -2vw;
      color:  #F2FF03;
      font-family: 'Roboto', sans-serif;
      font-size: 2vw;
      background-color: transparent;
    }

    .login-register:hover {
      color: #EEE
    }
  }

  .create-map{
    background-color: #F2FF03;
    size: 30vw;
  }

  #login.toggled {
    visibility: visible;
  }

  #login {
    z-index: 1000;
    visibility: hidden;
    width: 17vw;
    background-color: black;
    height: 30vh;
    margin-right: 2vw;

    textarea {
      resize: none;
      border-bottom: solid;
      border-top: none;
      border-left: none;
      border-right: none;
      background-color: transparent;
      margin-left: 1vw;
      margin-top: 2vh;
      margin-bottom: 2vh;
      height: 30px;
      color: white;
    }

    .login{
      width: 100%;
      font-size: 1.5vw;
      color: white;
      font-family: 'Roboto', sans-serif;
      border: none;
      background-color: transparent;
      margin-bottom: 5px;
    }

    .register {
      font-size: 1.5vw;
      color: white;
      font-family: 'Roboto', sans-serif;
      border: none;
      background-color: transparent;
      width: 100%;
    }
  }

  #mapid {
    margin-left: -1.5vw;
    margin-top: 4vh;
    height: 94vh;
    width: 100vw;

    .leaflet-control-zoom {
    left: 96vw;
    margin-top: 80vh;
    }
  }

  #create-map{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
  }

  #create-map.open{
    width: 250px;
  }

  #map-creator{
    visibility: hidden;
  }

  main{
    transition: margin-left .5s;
    padding: 20px;
  }

  main.open{
    margin-left: 250px;
  }
}
