// See: https://sass-lang.com/

body {
  background-color: #EEE;
  overflow: hidden;

  nav {
    z-index: 1000;
    background-color: #0E00FF;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;

    #new-map{
      background-color: transparent;
      border: none;
      color:  #EEE;
      height: 40px;
      width: 60px;
      font-size: 40px;
      outline: none;
    }

    #new-map.open{
      transition: 0.30s;
      transform: rotate(45deg);
    }

    #new-map.open:hover{
      transform: rotate(45deg);
      cursor: pointer;
    }

    #new-map:hover {
      z-index: 1;
      cursor: pointer;
      transition: 0.30s;
      transform: rotate(90deg);
    }

    .login-register {
      height: 7vh;
      border: none;
      width: 15vw;
      margin-right: -2vw;
      color:  #F2FF03;
      font-family: 'Muli', sans-serif;
      font-size: 2vw;
      background-color: transparent;
      outline: none;
    }

    .login-register:hover {
      color: #EEE;
      cursor: pointer;
    }
  }

  .create-map{
    background-color: #F2FF03;
    size: 30vw;
  }

  #login.toggled {
    visibility: visible;
  }

  #login {
    z-index: 1000;
    visibility: hidden;
    width: 17vw;
    background-color: black;
    height: 30vh;
    margin-right: 2vw;

    textarea {
      width: 83%;
      resize: none;
      border-bottom: solid;
      border-top: none;
      border-left: none;
      border-right: none;
      background-color: transparent;
      margin-left: 1vw;
      margin-top: 2vh;
      margin-bottom: 2vh;
      height: 30px;
      color: white;
      outline: none;
      font-family: 'Muli', sans-serif;
    }

    textarea:focus::placeholder{
      visibility: hidden;
    }

    .login{
      width: 100%;
      font-size: 1.5vw;
      color: white;
      font-family: 'Muli', sans-serif;
      border: none;
      background-color: transparent;
      margin-bottom: 5px;
      outline: none;
    }

    .login:hover {
      cursor: pointer;
      color: lightgray;
    }

    .register {
      font-size: 1.5vw;
      color: white;
      font-family: 'Muli', sans-serif;
      border: none;
      background-color: transparent;
      width: 100%;
      margin-top: 2vh;
      outline: none;
    }

    .register:hover {
      cursor:pointer;
      color: lightgrey;
    }
  }

  #mapid {
    margin-left: -1.5vw;
    margin-top: 4vh;
    height: 96.5vh;
    width: 100vw;

    .leaflet-control-zoom {
    left: 96vw;
    margin-top: 83vh;
    transition: 0.5s;
    }
  }

  #mapid.open {
    .leaflet-control-zoom {
      left: 56vw;
      margin-top: 83vh;
      transition: 0.5s;
    }
  }

  #create-map{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
  }

  #create-map.open{
    width: 40vw;
  }

  #map-creator{
    visibility: hidden;
  }

  main{
    transition: margin-left .5s;
    padding: 20px;
  }

  main.open{
    margin-left: 40vw;
  }

  #map-name {
    text-indent: 1vw;
    margin-top: 10vh;
    margin-left: 1vw;
    width: 37vw;
    background-color: white;
    border: solid, black, 3px;
    border-right: none;
    border-left: none;
    resize: none;
    font-family: 'Muli', sans-serif;
    color: black;
    font-size: 7vh;
    height: 7vh;
    outline: none;
  }

  #map-name::placeholder{
    text-indent: 1vw;
    opacity: 1;
  }

  #map-name:focus::placeholder{
    visibility: hidden;
  }
}
